.body {
  font: 18px/140% 'Roboto', sans-serif;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 4px 25px;
}

.logo img {
  width: 120px;
  height: auto;
}

.cart-icon-item-amount {
  position: absolute;
  top: 26px;
  right: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0e49b5;
  color: #fff;
  font: 14px/140% 'Roboto', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-icon-hidden {
  display: none;
}
.hero-section {
  margin: 0 0 32px 0;
}
.swiper-slide {
  position: relative;
  max-width: 1024px;
}
.swiper-slide img {
  max-width: 100%;
  height: auto;
}

.primary-button {
  color: white;
  font-size: 20px;
  padding: 14px 26px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #0e49b5;
}

.primary-button:hover {
  background-color: #1c3a71;
}

.disable-button {
  background-color: #c5c4c4;
  cursor: auto;
}

.disable-button:hover {
  background-color: #c5c4c4;
}

.swiper-slide .swiper-btn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.swiper-slide h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font: 68px/140% 'Roboto';
}

.search-item {
  margin: 0 25px;
}
.search {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 7px 1px #ccc;
  max-width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin: 0 0 30px 0;
}

.filter-img {
  margin: 0 10px;
}

.search-request {
  flex: 1 1 auto;
  align-self: flex-end;
  border: none;
  resize: none;
  outline: none;
  padding-bottom: 8px;
  font: 18px/140% 'Roboto', sans-serif;
  color: #767272;
}

::placeholder {
  color: #767272;
  font: 16px/140% 'Roboto', sans-serif;
  opacity: 0.5;
}

.main-block {
  display: flex;
  justify-content: space-between;
}

.main-filters {
  width: 35%;
}
.main-goods {
  width: 65%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card-item {
  width: 300px;
  margin: 0 -20px 40px 0;
  font: 14px/140% 'Roboto', sans-serif;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 7px 1px #ccc;
  border-radius: 10px;
}

.card-item:hover {
  transform: scale(1.03);
}

.card-box {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.card-like {
  position: absolute;
  top: 15px;
  right: 15px;
}

.card-like:hover {
  cursor: pointer;
}

.card-like:active {
  transform: scale(0.8);
}

.card-like-active {
  background: url(../img/icons/like_filled.svg) no-repeat 1.5px;
}

.card-img {
  width: auto;
  height: 200px;
  padding: 10%;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
}

.card-name {
  font: 24px/140% 'Roboto';
}
.card-availability {
  margin-bottom: 7px;
  color: #767272;
}
.card-price {
  margin-bottom: 10px;
  color: #767272;
}

.mark {
  font-weight: 700;
}
.card-review {
  background-color: #dae2ea;
  padding: 20px 20px 30px 40px;
  display: flex;
  justify-content: space-between;
  color: #3b3e66;
  border-radius: 0 0 10px 9px;
  font: 14px/22px 'Roboto';
}
.review {
  width: 150px;
}

.review::before {
  content: '';
  background: url('../img/icons/like_filled.svg');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 5px -5px -28px;
}

.card-availability::before {
  content: ' ';
  background: url('../img/icons/available.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px -5px 0;
}

.card-non-availability::before {
  content: ' ';
  background: url('../img/icons/none.png');
  width: 20px;
  height: 20px;
  display: inline-block;
  margin: 0 8px -5px 0;
}

/* ---------- modal ---------- */

.main-modal {
  display: flex;
  width: 1020px;
  font: 14px/140% 'Roboto', sans-serif;
  padding: 35px 0px 90px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 10;
}
.modal-img-container {
  padding: 100px 0 0 0;
  border-right: 1px solid #e2e2e2;
  padding-right: 16px;
}
.modal-img {
  height: auto;
  width: 250px;
}

.modal-middle-block {
  padding: 0 55px 0 35px;
  border-right: 1px solid #e2e2e2;
}
.modal-title {
  font-size: 24px;
  line-height: 140%;
  color: #3b3e66;
  font-weight: 900;
  margin-bottom: 20px;
}
.modal-review-container {
  display: flex;
  justify-content: space-between;
  width: 374px;
  padding: 20px 30px 30px 44px;
  background-color: #dae2ea;
  border-radius: 10px;
  color: #3b3e66;
  display: flex;
  margin-bottom: 30px;
}
.modal-review {
  width: 140px;
}
.modal-review-orders {
  width: 50px;
}
.modal-item-details li {
  margin-bottom: 15px;
}
.modal-item-mark {
  color: #767272;
}
.modal-item-sale-data {
  padding: 150px 0 0 55px;
  color: #3b3e66;
  text-align: center;
}
.modal-price {
  font-size: 36px;
  line-height: 140%;
  font-weight: 900;
  margin-bottom: 23px;
}
.modal-left-in-stock {
  font-size: 18px;
  margin-bottom: 31px;
  text-align: center;
}

/* ---------- modal JS ----------*/

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* ---------- left-side filters ----------*/
.main-filters {
  box-shadow: 0px 1px 7px 1px #ccc;
  align-self: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  font: 14px/140% 'Roboto';
}
.accordion:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.accordion:nth-child(9) {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.accordion {
  background-color: #edf3ff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font: 18px/140% 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: #fff;
}

.active img {
  transform: rotate(90deg);
}

.accordion:hover {
  background-color: #dce2ee;
}

.accordion-panel:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.accordion-panel {
  padding: 15px 40px 15px 30px;
  background-color: white;
  display: none;
  overflow: hidden;
  border: 1px solid #dce2ee;
  font: 16px/140% 'Roboto';
}

.accordion-panel label {
  display: block;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.accordion-panel label input {
  width: 30px;
}

.accordion-panel-price {
  padding: 30px 30px 20px 30px;
  border: 1px solid #dce2ee;
  display: none;
}

.accordion-panel-price label {
  display: flex;
  justify-content: space-between;
}

.min-price-input,
.max-price-input {
  margin-bottom: 15px;
  padding: 8px 0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font: 18px/140% 'Roboto';
}

.max-price-input:focus {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 7px 1px #e2e2e2;
  outline: none;
}

.min-price-input:focus {
  border: 1px solid #e2e2e2;
  box-shadow: 0px 1px 7px 1px #e2e2e2;
  outline: none;
}

/* ------------- cart ------------*/
.cart {
  padding-top: 2px;
  position: relative;
}
.cart img {
  width: 40px;
  height: auto;
  color: #767272;
}
.cart-container {
  width: 434px;
  padding-top: 24px;
  font: 14px/140% 'Roboto', sans-serif;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 300px;
  z-index: 7;
  background: #ffffff;
  filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.25));
}

.cart-main-title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}

.cart-sub-title {
  font-size: 16px;
  color: #767272;
  margin-bottom: 36px;
}

/* .cart-added-items {
} */

.cart-added-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 0 10px 0 30px;
}

.cart-right-block {
  align-self: center;
}

.cart-item-img {
  width: 100px;
  height: auto;
  padding: 15px;
}

.cart-item-name {
  font-size: 12px;
  font-weight: 700;
}

.cart-item-price {
  text-align: left;
  background-color: #eaf6ff;
  color: #4191ff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 4px;
  width: 40px;
}

.cart-item-amount {
  display: flex;
  justify-content: space-around;
}

.cart-item-delete {
  margin: 0 30px;
}

.cart-item-qty {
  font-size: 20px;
  font-weight: 700;
  color: #4191ff;
  margin: 0px 12px;
}
.cart-total-block {
  display: flex;
  justify-content: space-between;
  padding: 18px 41px;
  background-color: #eaf6ff;
  margin-bottom: 20px;
}

.cart-total-block p {
  color: #767272;
}

.cart-total-block span {
  font-weight: 700;
  color: #000;
}

.cart-button {
  background-color: #3c44b1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  border: none;
  padding: 11px 106px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cart-hidden {
  display: none;
}
